.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4; /* Color de fondo para ver si se muestra */
    padding: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

.title {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin: 0;
}
